{% component content_blocks(data) %}
{% for block in data %}
    {% if block.block == "blog-card" %}
    {{<blog_card data={block} />}}
    {% elif block.block == "blog-section" %}
    {{<blog_section data={block} />}}
    {% elif block.block == "contact-form" %}
    {{<contact_form data={block} />}}
    {% elif block.block == "content" %}
    {{<content content_html={block.content_html | default(value="")} content_md={block.content_md | default(value="")} />}}
    {% elif block.block == "hero" %}
    {{<hero data={block} />}}
    {% elif block.block == "newsletter" %}
    {{<newsletter config={block} />}}
    {% elif block.block == "page-heading" %}
    {{<page_heading taxonomies={block.taxonomies | default(value=false)} title={block.title} description={block.description | default(value="")} />}}
    {% elif block.block == "page-image" %}
    {{<page_image image={block.image} image_alt={block.image_alt} />}}
    {% elif block.block == "pagination" %}
    {{<pagination data={block} />}}
    {% elif block.block == "posts-list" %}
    {{<posts_list data={block} />}}
    {% elif block.block == "project-card" %}
    {{<project_card data={block} />}}
    {% elif block.block == "projects-list" %}
    {{<projects_list data={block} />}}
    {% elif block.block == "projects-section" %}
    {{<projects_section data={block} />}}
    {% elif block.block == "tags-list" %}
    {{<tags_list data={block} />}}
    {% elif block.block == "testimonial-card" %}
    {{<testimonial_card data={block} />}}
    {% elif block.block == "testimonials-section" %}
    {{<testimonials_section data={block} />}}
    {% endif %}
{% endfor %}
{% endcomponent content_blocks %}
